<nav>
    <ul style="list-style: none;">
        <li style="display: inline-block; padding: 15px;">Home</li>
        <li style="display: inline-block; padding: 15px;">About</li>
        <li style="display: inline-block; padding: 15px;">Contact</li>
    </ul>
</nav>